.service-detail{
    display: flex;
    justify-content: center;
}

.card{
    height: 10rem;
    width: 15rem;
    background-color: white;
    margin: 2px;
}
.para{
    background-color: white;
}
.hr{
    width: 13rem;
    /* height: 6px; */
    position: relative;
    left: 1rem;
  background-color: black;
}

.card h6{
    padding:2px;
    background-color: white;
}

/* .service-detail{
    background-color: white;
} */

.card p{
    font-size: smaller;
    
}